.roboto{
    font-family: "Roboto" !important;
    text-align: left !important;
    color: #575757 !important;
    line-height: 1.40;
    font-size: small;
    background-color: #F1F1F1 !important;
  }
  
a .roboto{
    font-family: "Roboto" !important;
    text-align: left !important;
    color: #575757 !important;
    line-height: 1.40;
    font-size: small;
    background-color: #F1F1F1 !important;
}

.abel{
    font-family: "abel" !important;
    text-align: left !important;
    color: #575757 !important;
    line-height: 1.40;
    font-size: small;
    background-color: #F1F1F1 !important;
}

a .abel{
    font-family: "abel" !important;
    text-align: left !important;
    color: #575757 !important;
    line-height: 1.40;
    font-size: small;
    background-color: #F1F1F1 !important;
}

.portLilgat{
    font-family: "portLilgat" !important;
    text-align: left !important;
    color: #575757 !important;
    line-height: 1.40;
    font-size: small;
    background-color: #F1F1F1 !important;
}

a .portLilgat{
    font-family: "portLilgat" !important;
    text-align: left !important;
    color: #575757 !important;
    line-height: 1.40;
    font-size: small;
    background-color: #F1F1F1 !important;
}

#preset1{
background-color: bisque;
margin: 10%;
}

#preset2{
background-color: black;
margin: 10%;
}

#preset3{
background-color: lightsteelblue;
margin: 10%;
}

#preset4{
background-color: mintcream;
margin: 10%;
}

#preset5{
margin: 10%;
}