/*Table of Contents
----Extensions CSS------
- Classes and IDs that are needed for the extension popup
- Classes and IDs needed for hiding style elements from target webpage
----Functionailty CSS----
- importing of fonts
- fonts
- text sizing
- text spacing
- background colour
- text colour
*/

.popup{
    margin: 0;
    border: 0;
    padding: 0;
    display: inline;
}

.profiles{
    display: block;
}
    
#preset2{
    background-color: #28282E;
    color: #EDEDFF;
    width: 17%;
    border: black solid 1px;
    border-radius: 5px;
    font-weight: bold;
    padding-right: 7px;
}
    
#preset1{
    background-color: black;
    color: mintcream;
    width: 17%;
    border: black solid 1px;
    border-radius: 5px;
    font-weight: bold;
}

#preset3{
    background-color: #EDEDFF;
    color: black;
    width: 17%;
    border: black solid 1px;
    border-radius: 5px;
    font-weight: bold;
    padding-right: 2px;
}

#preset4{
    background-color: white;
    color: black;
    width: 17%;
    border: black solid 1px;
    border-radius: 5px;
    font-weight: bold;
}

#preset5{
    width: 17%;
    background-color: #FFFFF2;
    border: black solid 1px;
    border-radius: 5px;
    font-weight: bold;
}

#sizeDisplay{
    margin-bottom: 10%;
    display: inline;
}

.spacingDiv{
    margin-top: 1em;
}
.sizeDiv{
    margin-top: 1em;
    margin-bottom: 1em;
}
    
#send{
    position: relative;
    margin-top: 10%;
    margin-bottom: 10%; 
    width: 97%;
}

#powerID{
    margin-bottom: 10%;
}
    
.background_colour{
    margin-bottom: 10%;
    width: 100%
    
}
    
style{
    visibility: hidden !important;
    display: none;
}

@import url('https://fonts.googleapis.com/css2?family=Abel&family=Port+Lligat+Sans&family=Roboto&display=swap');

.roboto{
    font-family: 'Roboto', sans-serif !important;
    text-align: left !important;
    color: #000000 !important;
    line-height: 1.40;
}

a .roboto{
    font-family: 'Roboto', sans-serif !important;
    text-align: left !important;
    color: #0000FF !important;
    line-height: 1.40;
}

.abel{
    font-family: 'Abel', sans-serif !important;
    text-align: left !important;
    color: #000000 !important;
    line-height: 1.40;
}

a .abel{
    font-family: 'Abel', sans-serif !important;
    text-align: left !important;
    color: #0000FF !important;
    line-height: 1.40;
}

.portLilgat{
    font-family: 'Port Lligat Sans', sans-serif !important;
    text-align: left !important;
    color: #000000 !important;
    line-height: 1.40;
}

a .portLilgat{
    font-family: 'Port Lligat Sans', sans-serif !important;
    text-align: left !important;
    color: #0000FF !important;
    line-height: 1.40;
}

.ts8{
    font-size: 8px !important;
}

.ts10{
    font-size: 10px !important;
}

.ts12{
    font-size: 12px !important;
}

.ts16{
    font-size: 16px !important;
}

.ts24{
    font-size: 24px !important;
}

.ts32{
    font-size: 32px !important;
}

.tstight {
    letter-spacing: -0.05em !important;
}
.tsnormal{
    letter-spacing: normal !important;
}
.tswide{
    letter-spacing: 6px !important;
}
.tswider{
    letter-spacing: 1em !important;
}

.preset1{
    background-color: black !important;
    color: mintcream !important;
}

.preset2{
    background-color: #28282E !important;
    color: #EDEDFF !important;
}
    
.preset3{
    background-color: #EDEDFF !important;
    color: black !important;
}

.preset4{
    background-color: white !important;
    color: black !important;
}

.preset5{
    background-color: #FFFFF2 !important;
    color: black !important;
}