.roboto{
    @font-face { font-family: roboto; src: url('" + chrome.extension.getURL ("./fonts/Roboto-Regular.ttf") + "');}
    font-family: "Roboto" !important;
    text-align: left !important;
    color: #000000 !important;
    line-height: 1.40;
    font-size: small;
    background-color: #F1F1F1 !important;
  }
  
a .roboto{
    font-family: "Roboto" !important;
    text-align: left !important;
    color: #0000FF !important;
    line-height: 1.40;
    font-size: small;
    background-color: #F1F1F1 !important;
}

.abel{
    font-family: "abel" !important;
    text-align: left !important;
    color: #000000 !important;
    line-height: 1.40;
    font-size: small;
    background-color: #F1F1F1 !important;
}

a .abel{
    font-family: "abel" !important;
    text-align: left !important;
    color: #0000FF !important;
    line-height: 1.40;
    font-size: small;
    background-color: #F1F1F1 !important;
}

.portLilgat{
    font-family: "portLilgat" !important;
    text-align: left !important;
    color: #000000 !important;
    line-height: 1.40;
    font-size: small;
    background-color: #F1F1F1 !important;
}

a .portLilgat{
    font-family: "portLilgat" !important;
    text-align: left !important;
    color: #0000FF !important;
    line-height: 1.40;
    font-size: small;
    background-color: #F1F1F1 !important;
}

*{
margin: 0;
border: 0;
padding: 0;
display: inline;
}

.profiles{
display: block;
}

#preset1{
background-color: bisque;
color: black;
width: 17%;
border: black solid 1px;
border-radius: 5px;
}

#preset2{
background-color: black;
color: mintcream;
width: 17%;
border: black solid 1px;
border-radius: 5px;
}

#preset3{
background-color: rgb(199, 223, 253);
color: rgb(52, 52, 56);
width: 17%;
border: black solid 1px;
border-radius: 5px;
}

#preset4{
background-color: mintcream;
color: black;
width: 17%;
border: black solid 1px;
border-radius: 5px;
}

#preset5{
width: 17%;
border: black solid 1px;
border-radius: 5px;
font-weight: bold;
}